body {
	font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
	margin: 0;
	overflow: hidden;
	background-color: #000;
	background-size: cover;
	background-position: center;
	color: #fff;
	/* font-family: Monospace; */
	line-height: 24px;
	overscroll-behavior: none;
}

* {
	box-sizing: border-box;
    word-wrap: break-word;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

ul, li {
	list-style: none;
    padding: 0;
    margin: 0;
}

#backgroundCanvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: #fff000;
}

#editorCanvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

canvas {
	display: block;
}

#controlPanel {
	position: fixed;
    bottom: 0;
    right: 0;
    z-index: 0;
	box-sizing: border-box;
	text-align: center;
	z-index: 1; /* TODO Solve this in HTML */
}

#modeButton {
	margin: 0;
	padding: 8px;
	list-style: none;
}

#modeButton > li {
	margin: 0;
	padding: 2px;
	background-color: rgba(0, 0, 0, 0.8);
}

#modeButton > li.is-active {
	background-color: rgba(150, 90, 0, 0.8);
}

#modeButton > li:hover {
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

#controlPanel-close {
	margin: 0;
	padding: 2px;
	background-color: rgba(0, 0, 0, 0.8);
}

#controlPanel-close:hover {
	cursor: pointer;
}

.position2D {
	cursor: pointer;
	width: 12px;
	height: 12px;
	position: absolute;
	background-color: aquamarine;
	top: 50%;
    left: 50%;
	transform: translate(-50%, -50%)
}

#sidePanel {
    position: absolute;
    right: 0;
    top: 32px;
    bottom: 0;
    width: 300px;
    background: #eee;
    overflow: auto;
}

#mainView {
    position: absolute;
    top: 32px;
    left: 0;
    right: 300px;
    bottom: 0;
}

#toolbar {
	position: absolute;
	left: 10px;
	top: 42px;
	width: 32px;
	background: #eee;
	text-align: center;
}

#menuBar {
    position: absolute;
    width: 100%;
    height: 32px;
    background: #eee;
    padding: 0;
    margin: 0;
    right: 0;
    top: 0;
}

.tab {
	display: inline-block;
	cursor: pointer;
    padding: 10px;
	color: #aaa;
    border-right: 1px solid #ccc;
}

#sidePanel #tabContainer {
    color: #aaa;
    border-right: 1px solid #ccc;
	position: relative;
    display: block;
    width: 100%;
    min-width: 300px;
	overflow-x: auto;
	white-space: nowrap;
}

#tabContainer .tab.selected {
    color: #888;
    background-color: #eee;
}

.tabContent {
	color: #888;
}

#contentContainer .panel {
	color: #888;
	padding: 10px;
}

#refPointsContainer {
	width: 100%;
	border: 2px solid #ccc;
	display: flex;
	justify-content: space-around;
}

.refPoint {
	background-color: #eee;
	padding: 4px 0;
	border-right: 1px solid #ccc;
	width: 100%;
    text-align: center;
	cursor: pointer;
}

.refPoint.selected {
	background-color: rgba(150, 90, 0, 0.8);
	color: #fff;
}

.refPoint.decided {
	background-color: #888;
	color: #fff;
}

.refPoint:hover {
	opacity: 0.5;
}

.tabContent .row {
	display: flex;
    align-items: center;
    min-height: 24px;
    margin-bottom: 10px;
}
 
button {
	color: #555;
    background-color: #ddd;
    border: 0px;
    margin: 0px;
    padding: 5px 8px;
    font-size: 12px;
    cursor: pointer;
    outline: none;
}

button.selected {
	color: #fff;
	background-color: rgb(150, 90, 0);
}

button:hover {
	opacity: .5;
}

button:disabled {
    background-color: #888;
	cursor: default;
}

.rowTitle {
	cursor: default;
    display: inline-block;
    width: 90px;
}

input.Number {
    background-color: transparent;
    width: 50px;
	color: #08f!important;
    font-size: 12px;
	border: 1px solid #ccc;
    padding: 2px;
	margin: 0 8px 0 0;
}

#castleOutliner {
	color: #444;
    background-color: #fff;
    padding: 0;
    width: 100%;
    height: 140px;
    font-size: 12px;
    cursor: default;
    overflow: auto;
    resize: vertical;
    outline: none !important;
}

#castleOutliner .option {
	padding: 4px;
    color: #666;
    white-space: nowrap;
}

#castleOutliner .type {
	display: inline-block;
	width: 14px;
	height: 14px;
	text-align: center;
	color: #ddd;
}